app = "n8n-yt-bot"

[env]
  N8N_BASIC_AUTH_USER = "admin"
  N8N_HOST = "0.0.0.0"
  WEBHOOK_TUNNEL_URL = "https://n8n-yt-bot.fly.dev"

[[services]]
  internal_port = 5678
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
